extends template 
 
block vars 
    - var compname = "Valtech - Authorization and Authentication" 
    - var title = "Home Page" 
 
block body
    div Welcome to Valtech Authorization Page   
    a(href="/login") Registered Users Click Here 
    br
    a(href="/register") New Users Click Here